$mainBackground: #242424;

$primaryText: #B5B5B5;

$primaryLinearGradient: -webkit-linear-gradient(45deg ,#f97316 0%, #fff 60%);
$secondaryLinearGradient: -webkit-linear-gradient(45deg ,#f97316 0%, #fff 110%);
$backgroundClip: text;
$textFillColor: transparent;